:root {
    --gray-dark: #696969;
    --gray: #999;
    --gray-light: #CCC;
    --gray-lighter: #e2e1e1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}

body {
    color: var(--gray);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga"on;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.body {
    padding: 1rem;
}