<template>
  <div>
    <ul class="cards">
      <li v-for="meal in meals" :key="meal.idMeal" class="item">
        <router-link :to="`/meal/${meal.idMeal}`">
          <div class="card">
            <div class="images">
              <div class="container">
                <img
                  :src="`https://flagcdn.com/32x24/${getCountryCodeFromArea(
                    meal.strArea
                  )}.png`"
                  class="flag"
                />
                <img
                  :src="meal.strMealThumb"
                  :alt="meal.strMeal"
                  class="image"
                />
              </div>
              <div class="content">
                <div class="title">
                  {{ meal.strMeal }} ({{ meal.strCategory }})
                </div>
                <div v-if="countIngredients(meal)" class="ingredients">
                  <img src="@/assets/img/ingredients.png" class="icon" />
                  <span class="count">
                    {{ countIngredients(meal) }}
                  </span>
                  ingredient(s)
                </div>
                <div class="tags">
                  <div
                    v-for="tag in (meal.strTags || '').split(',')"
                    :key="tag"
                  >
                    <span v-if="tag && tag !== ''" class="tag">
                      {{ tag }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "ListMeal",
  props: {
    meals: [],
  },
  data() {
    return {
      info: null,
      areaToCountryCode: {
        American: "us",
        British: "gb",
        French: "fr",
        Jamaican: "jm",
        Chinese: "cn",
        Canadian: "ca",
        Dutch: "nl",
        Egyptian: "eg",
        Greek: "gr",
        Indian: "in",
        Irish: "ie",
        Italian: "it",
        Japanese: "jp",
        Kenyan: "ke",
        Malaysian: "my",
        Mexican: "mx",
        Moroccan: "mc",
        Croatian: "hr",
        Norwegian: "no",
        Portuguese: "pt",
        Russian: "ru",
        Argentinian: "ar",
        Spanish: "es",
        Slovakian: "sk",
        "Saudi Arabian": "sa",
        Vietnamese: "vn",
        Turkish: "tr",
        Syrian: "sy",
        Algerian: "dz",
        Tunisian: "tn",
        Polish: "pl",
        Thai: "th",
      },
    };
  },
  methods: {
    countIngredients(recipe) {
      return Object.keys(recipe).filter(
        (key) =>
          key.match(/^strIngredient\d+$/) && recipe[key] && recipe[key] !== ""
      ).length;
    },
    getCountryCodeFromArea(area) {
      return this.areaToCountryCode[area];
    },
  },
};
</script>

<style>
@import "../assets/css/listMeal.css";
</style>
