<template>
  <nav>
    <img src="@/assets/img/logo.png" alt="logo 1day1meal" />
    <h1>1day1meal</h1>
  </nav>
</template>

<script>
export default {
  name: "NavBar",
};
</script>

<style>
nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--gray-lighter);
  border-bottom: 1px solid var(--gray-lighter);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
h1 {
  color: var(--gray-dark);
}
</style>
